langchain
langchain-community
langchain-openai
langchain-google-genai
faiss-cpu
ragas
datasets
sentence-transformers
FlagEmbedding
pandas
matplotlib
seaborn
scipy
numpy
tqdm
python-dotenv
openai
google-generativeai
groq
